h1{
	font-family: Verdana, sans-serif;
	font-size: 90px;
	color: white;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	text-align: center;
	margin: 20px;

}

body {
	background-color: #BAD9B5;
	font-family: Verdana, sans-serif;
}

footer {
	text-align: center; 
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 18px;
	color: white;
	margin-top: 100px

	}


#navigation-logos {


	text-align: center;
	list-style-type: none;
}

#navigation-logos li {

	display:block;
}


#navigation-logos a img {

opacity: 0.25;

-webkit-transition: opacity 0.2s ease-in-out;
-moz-transition: opacity 0.2s ease-in-out;
-o-transition: opacity 0.2s ease-in-out;
transition: opacity 0.2s ease-in-out;



}

#navigation-logos a:hover img, #navigation-logos a:focus img {

opacity: 0.6;
position: relative;
left: 20px;

}

#navigation-logos-2 {


	text-align: center;
	list-style-type: none;
}

#navigation-logos-2 li {

	display:block;
}


#navigation-logos-2 a img {

opacity: 0.9;

-webkit-transition: opacity 0.2s ease-in-out;
-moz-transition: opacity 0.2s ease-in-out;
-o-transition: opacity 0.2s ease-in-out;
transition: opacity 0.2s ease-in-out;



}

#navigation-logos-2 a:hover img, #navigation-logos-2 a:focus img {

opacity: 0.25;
position: relative;
right: 20px;

}